.App {
  text-align: center;
  height: auto;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(113, 178, 235);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input#task {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}

#add {
  margin-left: 5px;
  width: auto;
  height: 55px;
  border: black solid 1px;
  border-radius: 5px;
  background-color: rgb(241, 212, 167);
}

#update {
  margin-left: 5px;
  width: auto;
  height: 55px;
  border: black solid 1px;
  border-radius: 5px;
}

.displayTodos {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.btn {
  margin-left: 5px;
  border: black solid 1px;
  border-radius: 5px;
  background-color: rgb(241, 212, 167);
}

tr {
  vertical-align: top;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.removeBullets {
  display: flex;
  justify-content: center;
  align-items: center;
}

b {
  font-weight: normal;
}

h1 {
  font-weight: bolder;
  color: rgb(146, 28, 28);
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
